{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Blog Post BEGIN-->
<div class="page-header">
    <div class="page-title">
        <h3>Blog Post</h3>
    </div>
</div>
<div class="row layout-top-spacing">
    {% for blog_post in blog_post_list %}
        <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <a href="{% url 'blog:post_detail' blog_post.pk %}">
                <div class="card component-card_9" role="navigation">
                    {% if blog_post.image %}
                        <img src="{{blog_post.image}}" class="card-img-top" alt="widget-card-2" style="height:24rem;">
                    {% else %}
                        <img src="{% static '/assets/img/ms-icon-310x310.png' %}" class="card-img-top" alt="widget-card-2" style="height:24rem;">
                    {% endif %}
                    <div class="card-body h-25">
                        <p class="meta-date">{{blog_post.created_at|date:"Y년 m월 j일"}}</p>
            
                        <h5 class="card-title">{{blog_post.title}}</h5>
            
                        <div class="meta-info">
                            <div class="mail-content-container mailInbox">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex user-info">
                                        <div class="f-head">
                                            {% if blog_post.author.profile_image %}
                                                <img src="{{ blog_post.author.profile_image.url }}" style="border-radius: 70%; width: 2rem; height: 2rem;" alt="avatar">
                                            {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="user-name">{{blog_post.author.username}}</div>
                                </div>
                            </div>
            
                            <div class="meta-action">
                                <div class="meta-view">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> {{blog_post.view_count}}
                                </div>
                            </div>
            
                        </div>
            
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<!-- Blog Post END-->
<!-- Blog Post BEGIN-->
{% if user.is_authenticated %}
    <div class="page-header">
        <div class="page-title">
            <h3>Subscribe Post</h3>
        </div>
    </div>
    <div class="row layout-top-spacing">
        {% for subscription_post in subscription_post_list %}
            <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                <a href="{% url 'blog:post_detail' subscription_post.pk %}">
                    <div class="card component-card_9" role="navigation">
                        {% if subscription_post.image %}
                            <img src="{{subscription_post.image}}" class="card-img-top" alt="widget-card-2" style="height:24rem;">
                        {% else %}
                            <img src="{% static '/assets/img/ms-icon-310x310.png' %}" class="card-img-top" alt="widget-card-2" style="height:24rem;">
                        {% endif %}
                        <div class="card-body">
                            <p class="meta-date">{{subscription_post.created_at|date:"Y년 m월 j일"}}</p>
                
                            <h5 class="card-title">{{subscription_post.title}}</h5>
                
                            <div class="meta-info">
                                <div class="mail-content-container mailInbox">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex user-info">
                                            <div class="f-head">
                                                {% if subscription_post.author.profile_image %}
                                                    <img src="{{ subscription_post.author.profile_image.url }}" style="border-radius: 70%; width: 2rem; height: 2rem;" alt="avatar">
                                                {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="user-name">{{subscription_post.author.username}}</div>
                                    </div>
                                </div>
                
                                <div class="meta-action">
                                    <div class="meta-view">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> {{subscription_post.view_count}}
                                    </div>
                                </div>
                
                            </div>
                
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}
<!-- Blog Post END-->
<!-- Dev Square Post BEGIN-->
<div class="page-header">
    <div class="page-title">
        <h3>Dev Square</h3>
    </div>
</div>
<div class="row layout-top-spacing">
    {% for board_post in board_post_list %}
        <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
            <a href="{% url 'board:board_detail' board_post.pk %}">
                <div class="card component-card_9" role="navigation">
                    {% if board_post.image %}
                        <img src="{{board_post.image}}" class="card-img-top" alt="widget-card-2" style="height:24rem;">
                    {% else %}
                        <img src="{% static '/assets/img/ms-icon-310x310.png' %}" class="card-img-top" alt="widget-card-2" style="height:24rem;">
                    {% endif %}
                    <div class="card-body">
                        <p class="meta-date">{{board_post.created_at|date:"Y년 m월 j일"}}</p>
            
                        <h5 class="card-title">{{board_post.title}}</h5>
            
                        <div class="meta-info">
                            <div class="mail-content-container mailInbox">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex user-info">
                                        <div class="f-head">
                                            {% if board_post.author.profile_image %}
                                                <img src="{{ board_post.author.profile_image.url }}" style="border-radius: 70%; width: 2rem; height: 2rem;" alt="avatar">
                                            {% else %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="user-name">{{board_post.author.username}}</div>
                                </div>
                            </div>
            
                            <div class="meta-action">
                                <div class="meta-view">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> {{board_post.view_count}}
                                </div>
                            </div>
            
                        </div>
            
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
<!-- Dev Square Post END-->
{% endblock %}

