{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <div class="page-title">
        <h3>Blog Post</h3>
    </div>
    
</div>
<div class="row layout-top-spacing">
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="page-title">
        <h3>Subscribe Post</h3>
    </div>
</div>
<div class="row layout-top-spacing">
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="page-title">
        <h3>Dev Square</h3>
    </div>
</div>
<div class="row layout-top-spacing">
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    <div class = "col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="card component-card_9">
            <img src="{% static 'assets/img/400x300.jpg' %}" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Jan 2020</p>
    
                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>
    
                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>
    
                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> 51
                        </div>

                        <div class="meta-view">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> 250
                        </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
</div>
{% endblock %}

