[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/venv/bin/uwsgi -i /srv/tech_blog_for_developer/.config/uwsgi/tech_blog.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target