{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <div class="title">
            <h3>Dev Square</h3>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">List</li>
        </ol>
    </nav>
</div>

<div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12">

        <div class="row">

            <div class="col-xl-12  col-md-12">

                <div class="mail-box-container">
                    <div class="mail-overlay"></div>
                    {% if user.is_authenticated %}
                    <div class="tab-title">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 text-center mail-btn-container">
                                <a id="btn-compose-mail" class="btn btn-block" href="{% url 'blog:postwrite' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div id="mailbox-inbox" class="accordion mailbox-inbox">

                        <form class="search" action="{% url 'board:board_list' %}" method="get">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu mail-menu d-lg-none"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                            <input type="text" class="form-control input-search" placeholder="Search Here..." name="keyword">
                            <select class="m-0 border-0" id="" placeholder="카테고리를 선택하세요." name="category">
                                <option value="All">All</option>
                                <option value="Backend">Backend</option>
                                <option value="Frontend">Frontend</option>
                            </select>
                        </form>
                        
                        <!-- My Blog 게시글 리스트 BEGIN -->
                        
                        <div class="message-box">
                            
                            <div class="message-box-scroll" id="ct">
                                {% for post in board_post_list %}
                                <a href="{% url 'board:board_detail' post.id %}">
                                    <div class="mail-item draft">
                                        <div class="animated animatedFadeInUp fadeInUp" id="mailHeadingOne">
                                            <div class="mb-0">
                                                <div class="mail-item-heading personal collapsed"  data-toggle="collapse" role="navigation" data-target="#mailCollapseOne" aria-expanded="false">
                                                    <div class="mail-item-inner">
    
                                                        <div class="d-flex">
                                                            <div class="f-body" data-mailfrom="info@mail.com" data-mailto="kf@mail.com" data-mailcc="">
                                                                <div class="meta-title-tag">
                                                                    <p class="user-email p-0" style="width: 5%;">{{ post.author }}</p>
                                                                    <p class="mail-content-excerpt" data-maildescription='{"ops":[{"insert":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar feugiat consequat. Duis lacus nibh, sagittis id varius vel, aliquet non augue. Vivamus sem ante, ultrices at ex a, rhoncus ullamcorper tellus. Nunc iaculis eu ligula ac consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum mattis urna neque, eget posuere lorem tempus non. Suspendisse ac turpis dictum, convallis est ut, posuere sem. Etiam imperdiet aliquam risus, eu commodo urna vestibulum at. Suspendisse malesuada lorem eu sodales aliquam.\n"}]}'><span class="mail-title" data-mailTitle="Web Design News">{{ post.title }} : {{ post.content }}</p>
                                                                    <div class="tags">
                                                                        {{ post.category }}
                                                                    </div>
                                                                    <p class="meta-time align-self-center">작성일 : {{ post.created_at|date:"Y/m/j" }}</p>
                                                                    <p class="meta-time align-self-center">수정일 :{{ post.updated_at|date:"Y/m/j" }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <!-- My Blog 게시글 리스트 END -->
                        
                    </div>
                    
                </div>

            </div>


        </div>

    </div>
</div>
{% endblock %}