{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <div class="title">
            <h3>Dev Square</h3>
        </div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Detail</a></li>
        </ol>
    </nav>
</div>

<div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12">

        <div class="row">

            <div class="col-xl-12  col-md-12">

                <div class="mail-box-container">
                    <div class="mail-overlay"></div>

                    <div class="tab-title">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 text-center mail-btn-container">
                                <a id="btn-compose-mail" class="btn btn-block" href="{% url 'board:board_list' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left close-message"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></a>
                            </div>
                        </div>
                        {% if user.is_authenticated and board_post.author == user %}
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 mt-4 text-center mail-btn-container">
                                <a id="btn-compose-mail" class="btn btn-block" href="{% url 'board:board_edit' board_post.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 mt-4 text-center mail-btn-container">
                                <form action="{% url 'board:board_delete' board_post.pk %}" method="post">
                                    {% csrf_token %}
                                    <button id="btn-compose-mail" class="btn btn-block" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></button>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div id="mailbox-inbox" class="accordion mailbox-inbox">
                        <div class="message-box">
                            <div class="message-box-scroll" id="ct">
                                <!-- My Blog 게시글 BEGIN -->
                                <div class="mail-content-container mailInbox" data-mailfrom="info@mail.com" data-mailto="linda@mail.com" data-mailcc="">
        
                                    <div class="d-flex justify-content-between">
        
                                        <div class="d-flex user-info">
                                            {% if board_post.author.profile_image %}
                                            <div class="f-head">
                                                <img src="{{ board_post.author.profile_image.url }}" class="user-profile" alt="avatar">
                                            </div>
                                            {% else %}
                                            <div class="f-head">
                                                <img src="{% static 'assets/img/90x90.jpg' %}" class="user-profile" alt="avatar">
                                            </div>
                                            {% endif %}
                                            <div class="f-body">
                                                <div class="meta-title-tag">
                                                    <h4 class="mail-usr-name" data-mailtitle="Promotion Page">제목: {{ board_post.title }}</h4>
                                                </div>
                                                <div class="meta-mail-time">
                                                    <p class="user-email">작성자: {{ board_post.author.nickname }}</p>
                                                </div>
                                                <div class="meta-mail-time">
                                                    <p class="meta-time align-self-center">최종 수정일: {{ board_post.updated_at }}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="meta-info">
                                            <div class="meta-action">
                                                <div class="meta-view">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> {{ board_post.view_count }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <p class="mail-content" data-mailTitle="Promotion Page">{{ board_post.content|safe }}</p>
        
                                    <div class="attachments">
                                        <h6 class="attachments-section-title">첨부 파일</h6>
                                        {% if board_post.upload_file %}
                                        <div class="attachment file-pdf">
                                            <a href="{{ board_post.upload_file.url }}" download>
                                                <div class="media">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                                    <div class="media-body">
                                                        <p class="file-name">{{ board_post.get_file_name }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% endif %}
        
                                        {% if images %}
                                        {% for image in images %}
                                        <div class="attachment file-folder">
                                            <a href="{{ image.image.url }}" download>
                                                <div class="media">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                                    <div class="media-body">
                                                        <p class="file-name">{{ image.get_file_name }}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
        
                                    </div>
                                    <!-- 댓글 BEGIN -->
                                    <div class="attachments">
                                        <h6 class="attachments-section-title">댓글</h6>
                                        <!-- 댓글 & 대댓글 에러 BEGIN -->
                                        {% if form.errors %}
                                            <div class="alert alert-light-danger border-0 mb-4" role="alert"> 
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                </button>
                                                {% for field in form %} 
                                                    <strong>{{ field.errors }}</strong>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <!-- 댓글 & 대댓글 에러 END -->
                                        {% for item in comment_list %}
                                            <div id="unread-promotion-page" class="mail-item mailInbox">
                                                <div class="animated animatedFadeInUp fadeInUp" id="mailHeadingThree">
                                                    <div class="mb-0 d-flex justify-content-between align-items-center">
                                                        <div class="mail-item-heading social collapsed w-100" data-toggle="collapse" role="navigation" data-target="#mailCollapseThree" aria-expanded="false" onclick="changeDisplay('#{{item.comment.author.username}}{{item.comment.pk}}')" id="comment{{item.comment.pk}}_div">
                                                            <div class="mail-item-inner">
                                                                <div class="d-flex">
                                                                    <div class="f-head">
                                                                        {% if item.comment.author.profile_image %}
                                                                            <img src="{{ item.comment.author.profile_image.url }}" class="user-profile" alt="avatar">
                                                                        {% else %}
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="f-body">
                                                                        <div class="meta-mail-time">
                                                                            <p class="user-email">{{ item.comment.author.username }}</p>
                                                                        </div>
                                                                        <div class="meta-title-tag d-flex justify-content-between">
                                                                            <p class="mail-content-excerpt">{{ item.comment.content }}</p>
                                                                            <p class="mata-time align-self-center">{{ item.comment.updated_at }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mail-item-heading social collapsed w-100 p-0" style="display: none;" id="comment{{item.comment.pk}}_input">
                                                            <form method="post" action="{% url 'board:comment_edit' item.comment.pk %}">
                                                                {% csrf_token %}
                                                                <input type="text" class="mail-write-box form-control border-0" name="content" placeholder="{{item.comment.content}}" value="{{item.comment.content}}">
                                                                <input type="hidden" style="display: none;" value="{{ board_post.pk }}" name="post_pk">
                                                            </form>
                                                        </div>
                                                        {% if user == item.comment.author %}
                                                        <div>
                                                            <button id="btn-compose-mail" class="btn btn-block py-1" type="submit" onclick="exchangeDisplay('#comment{{item.comment.pk}}_div', '#comment{{item.comment.pk}}_input')" style="background-color: mediumpurple;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2" style="fill: mediumpurple; background-color: mediumpurple;"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></button>
                                                            <form method="post" action="{% url 'board:comment_delete' item.comment.pk %}">
                                                                {% csrf_token %}
                                                                <button id="btn-compose-mail" class="btn btn-block py-1" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></button>
                                                                
                                                                <input type="text" style="display: none;" value="{{ board_post.pk }}" name="post_pk">
                                                            </form>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% for recomment in item.recomments %}
                                            <div id="read-promotion-page" class="mail-item mailInbox">
                                                <div class="animated animatedFadeInUp fadeInUp" id="mailHeadingThree">
                                                    <div class="mb-0 d-flex justify-content-between align-items-center">
                                                        <div class="mail-item-heading social collapsed w-100" data-toggle="collapse" role="navigation" data-target="#mailCollapseThree" aria-expanded="false" style="pointer-events: none;"  id="recomment{{recomment.pk}}_div">
                                                            <div class="mail-item-inner">
                                                                <div class="d-flex">
                                                                    <div class="f-head d-flex">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right"><polyline points="15 10 20 15 15 20"></polyline><path d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg>
                                                                        {% if recomment.author.profile_image %}
                                                                            <img src="{{ user.profile_image.url }}" class="user-profile" alt="avatar">
                                                                        {% else %}
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="f-body">
                                                                        <div class="meta-mail-time">
                                                                            <p class="user-email">{{ recomment.author.username }}</p>
                                                                        </div>
                                                                        <div class="meta-title-tag d-flex justify-content-between">
                                                                            <p class="mail-content-excerpt">{{ recomment.content }}</p>
                                                                            <p class="meil-time align-self-center">{{ recomment.updated_at }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mail-item-heading social collapsed w-100 p-0" style="display: none;" id="recomment{{recomment.pk}}_input">
                                                            <form method="post" action="{% url 'blog:recomment_edit' recomment.pk %}">
                                                                {% csrf_token %}
                                                                <input type="text" class="mail-write-box form-control border-0" name="content" placeholder="{{recomment.content}}" value="{{recomment.content}}">
                                                                <input type="hidden" style="display: none;" value="{{ post.pk }}" name="post_pk">
                                                            </form>
                                                        </div>
                                                        {% if user == recomment.author %}
                                                        <div>
                                                            <button class="btn btn-secondary py-1" onclick="exchangeDisplay('#recomment{{recomment.pk}}_div', '#recomment{{recomment.pk}}_input')" style="background-color: mediumpurple;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3b3f5c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2" style="fill: mediumpurple; background-color: mediumpurple;"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></button>
                                                            <form method="post" action="/blog/recomment_delete/{{ recomment.pk }}/">
                                                                {% csrf_token %}
                                                                <button id="btn-compose-mail" class="btn btn-block py-1" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></button>
                                                                <input type="text" style="display: none;" value="{{ post.pk }}" name="post_pk">
                                                            </form>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor %}
                                            <form class="chat-form" action="{% url 'board:recomment_write' %}" method="post">
                                                {% csrf_token %}
                                                <div style="display: none;" id="{{item.comment.author.username}}{{item.comment.pk}}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                                    <input type="text" class="mail-write-box form-control" placeholder="답글을 입력하세요." name="content">
                                                    <input type="hidden" value="{{ post.pk }}" style="display: none;" name="post_pk">
                                                    <input type="hidden" value="{{ item.comment.pk }}" style="display: none;" name="comment_pk">
                                                </div>
                                            </form>
                                        {% endfor %}
                                        
                                        <form class="chat-form" action="{% url 'board:comment_write' %}" method="post">
                                            {% csrf_token %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                            <input type="text" class="mail-write-box form-control" name="content" placeholder="댓글을 입력하세요.">
                                            <input type="hidden" name="post_pk" value="{{board_post.pk}}">
                                        </form>
                                    </div>
                                    <!-- 댓글 END -->
                                </div>
                                <!-- My Blog 게시글 END -->
                                
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- Modal -->

            </div>


        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const changeDisplay = function(selector) {
        console.log(selector);
        divDOM = document.querySelector(selector);
        displayStyle = divDOM.style.display;
        if (displayStyle == 'none'){
            document.querySelector(selector).style.display = 'block';
        }else{
            document.querySelector(selector).style.display = 'none';
        }
    };

    const exchangeDisplay = function(selector1, selector2) {
        const divDOM = document.querySelector(selector1);
        divStyle = divDOM.style.display;
        if (divStyle == 'none'){
            divDOM.style.display = 'block';
        }else{
            divDOM.style.display = 'none';
        }
        const inputDOM = document.querySelector(selector2);
        inputStyle = inputDOM.style.display;
        if (inputStyle == 'none'){
            inputDOM.style.display = 'block';
        }else{
            inputDOM.style.display = 'none';
        }
    };
</script>
{% endblock %}
